yfinance
pandas
numpy
matplotlib
scikit-learn
tensorflow
statsmodels
pmdarima
ta
arch
pandas_datareader
joblib

streamlit
yfinance>=0.2.40
pandas
matplotlib
statsmodels
scipy

prophet
plotly
cmdstanpy


